<div class="card">
  <table class="skeleton-table">
    <thead>
      <tr>
        <th class="skeleton-cell"></th>
        <th class="skeleton-cell"></th>
        <th class="skeleton-cell"></th>
        <!-- Agrega más th según el número de columnas de tu tabla -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="skeleton-cell"></td>
        <td class="skeleton-cell"></td>
        <td class="skeleton-cell"></td>
      </tr>
      <tr>
        <td class="skeleton-cell"></td>
        <td class="skeleton-cell"></td>
        <td class="skeleton-cell"></td>
      </tr>
      <tr>
        <td class="skeleton-cell"></td>
        <td class="skeleton-cell"></td>
        <td class="skeleton-cell"></td>
      </tr>
    </tbody>
  </table>
</div>
